# Pinned for determinism. Full transitive tree, all permissive:
#   python-dateutil — dual-licensed; relied on here under BSD-3-Clause, which its
#                     LICENSE states applies to all code including the portion
#                     also covered by Apache-2.0 (owns recurrence expansion)
#   six             — MIT (dateutil's only dependency)
#   tzdata          — Apache-2.0 (IANA zone data, so tzid resolution does not
#                     depend on the host image carrying a system zoneinfo db)
python-dateutil==2.9.0.post0
six==1.17.0
tzdata==2026.3
